 .skills {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .6rem;
} 

.skillsContainer h3 {
  font-size: clamp(2.4rem, 1.7661rem + 3.5vw, 4rem);
  font-weight: 500;
  color: var(--color-white-primary);
  transform: rotate(-5deg);
}

.skills li {
  position: relative;
  overflow: hidden;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #ffffff15;
  border-radius: 5px;
  padding: 6rem 1.2rem;
  background: #00000030;
  border: 1px dashed #ffffff20;
  transition: all .4s;
}

.skillImage {
  position: absolute;
  opacity: .07;
  transform: rotate(30deg) translateY(-2rem) translateX(6rem);
  transition: all .4s;
}

.skills li:hover {
  border: 1px solid #ffffff;
  font-size: 4rem;
  box-shadow: 
  1px 1px 2px 0 rgba(0, 0, 0, 0.37),
  2px 2px 2px 0 rgba(0, 0, 0, 0.37);
}

.skills li:hover .skillImage {
  transform: rotate(0) translateY(-3rem) translateX(-1rem) translateX(0) scale(1.4);
  opacity: .35;
}