.footerContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* Equivalent to Tailwind's gap-8 */
}


.textSection {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* Equivalent to Tailwind's gap-8 */
}

.footerTitle{
  font-size: clamp(1.6rem, 1rem + 1vw, 2.4rem);
  font-weight: 600;
}

.footerMiniTitle{
  font-size: 1.2rem;
  font-weight: 600;
}

.text {
  width: min(75ch, 100%);
  font-size: clamp(1.2rem, 0.9rem + 0.7vw, 1.6rem);
  line-height: 1.5;
  text-wrap: pretty;
}

.socialIconsContainer{
  display: flex;
  flex-grow: 1;

  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  border-radius: 3px;
  transition-duration: .7s;
}

.socialIcons {
  display: flex;
  gap: 2rem; 
}

.profileSection {
  display: flex;
  gap: 1rem; 
  align-items: center;
}

.profileTitle {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}
