.grainContainer{
  position: fixed;
  inset: 0;
  z-index: -1;
}

.grain{
  width: 100%;
  height:100%;
  background-size: 128px;
  background-repeat: repeat;
  background-image: url(https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png);
  opacity: 0.06;
  border-radius: 0;

}