@import 'tailwindcss';

/* *,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  transition: all .3s;
} */

html {
  scroll-behavior: smooth;
}

:root {
  font-size: 62.5%;

  /* Layout */
  --min-width: min(136rem, 100%);
  --padding-lg: 9.6rem;
  --padding-md: 7.2rem;
  --padding-sm: 4.8rem;
  --padding-xs: 2.4rem;
  --padding-xx: 1.2rem;

  /* Colors */
  --color-bg-dark: hsl(216, 12%, 8%);
  --color-bg-light: hsl(0, 0%, 100%);

  --color-text-dark: hsl(240, 4%, 14%);
  --color-text-dark-2: hsl(216, 12%, 8%);
  --color-text-primary: hsl(240, 18%, 96%);
  --color-text-secondary: hsl(24, 6%, 85%);

  --color-primary: hsl(237, 100%, 73%);
  --color-primary-light: hsl(242, 85%, 69%);
  --color-primary-dark: hsl(248, 68%, 51%);
  --color-accent-dark: hsl(246, 62%, 42%);

  --color-primary-500: hsl(246, 53%, 51%);
  --color-primary-600: hsl(246, 91%, 59%);
  --color-primary-700: hsl(247, 69%, 51%);
  --color-primary-800: hsl(246, 65%, 41%);
  --color-primary-900: #2d2689;  
  --color-primary-950: hsl(246, 57%, 20%);
 

  --color-emerald: hsl(145, 83%, 55%);
  --color-emerald-light: hsl(81, 100%, 59%);
  --color-golden:  hsl(47, 82%, 57%);
  --color-yellow: #ffc75d;
}


body[data-theme="light"] {
  background: var(--color-bg-light);
  color: var(--color-text-dark);
}

body {
  background: var(--color-bg-dark);
  color: var(--color-text-primary);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;  /* Firefox hides the scrollbar */
  -ms-overflow-style: none;  /* IE and Edge */
}

a{
  text-decoration: none;
  font-size: 1.6rem;
}

.section{
  width: var(--min-width);
  margin-inline: auto;
}

.padding{
  padding: var(--padding-lg) var(--padding-sm);
}

:where(.purple-text) {
  color: var(--color-primary);
  font-weight: 600;
}
:where(.emerald-text) {
  color: var(--color-emerald);
  font-weight: 600;
}
:where(.purple-text) {
  color: var(--color-primary);
  font-weight: 600;
}

.outline-text-white{
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: #fff;
   position: relative;
   display: inline-block;
}

@media screen and (width < 500px){
  .padding{
    padding: var(--padding-md) var(--padding-xx);
  }
}

