@import 'tailwindcss';

/* *,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  transition: all .3s;
} */

:root {
  font-size: 62.5%;

  --min-width: min(136rem, 100%);

  --padding-lg: 9.6rem;
  --padding-md: 7.2rem;
  --padding-sm: 4.8rem;
  --padding-xs: 2.4rem;
  --padding-xx: 1.2rem;

  /* --color-bg-dark: hsl(240, 2%, 9%); */
  --color-bg-dark: hsl(216, 12%, 8%);
  /* --color-bg-dark: #242824; */
  --color-text-dark: hsl(240, 4%, 14%);
  --color-text-dark-2: hsl(216, 12%, 8%);

  --color-bg-light: hsl(0, 0%, 100%);
  --color-text-primary: hsl(240, 18%, 96%);
  --color-text-secondary: hsl(24, 6%, 85%);

  --color-primary: hsl(237, 100%, 73%);
  /* --color-primary: hsl(241, 100%, 69%); */
  --color-primary-light: hsl(242, 85%, 69%);
  --color-primary-dark: hsl(248, 68%, 51%);
  --color-accent-dark: hsl(246, 62%, 42%);

  --color-primary-600: #4936f5;
  --color-primary-700: #3e2ad8;
  --color-primary-800: #3225ae;
  --color-primary-900: #2d2689;  
  --color-primary-950: #1c1650;

  --color-emerald: hsl(145, 83%, 55%);
  --color-emerald-light: hsl(81, 100%, 59%);
  --color-golden:  hsl(47, 82%, 57%);
  --color-yellow: #ffc75d;
}


/* 'royal-blue': {
  '50': '#ecf0ff',
  '100': '#dde4ff',
  '200': '#c2cdff',
  '300': '#9caaff',
  '400': '#757cff',
  '500': '#6461ff',
  '600': '#4936f5',
  '700': '#3e2ad8',
  '800': '#3225ae',
  '900': '#2d2689',
  '950': '#1c1650',
}, */


body[data-theme="light"] {
  background: var(--color-bg-light);
  color: var(--color-text-dark);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg-dark);
  color: var(--color-text-primary);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;  /* Hide the scrollbar */
}

* {
  scrollbar-width: none;  /* Firefox hides the scrollbar */
  -ms-overflow-style: none;  /* IE and Edge */
}

a{
  text-decoration: none;
  font-size: 1.6rem;
}

.section{
  width: var(--min-width);
  margin-inline: auto;
}

.padding{
  padding: var(--padding-lg) var(--padding-sm);
}

:where(.purple-text) {
  color: var(--color-primary);
  font-weight: 600;
}
:where(.emerald-text) {
  color: var(--color-emerald);
  font-weight: 600;
}
:where(.purple-text) {
  color: var(--color-primary);
  font-weight: 600;
}



@media screen and (width < 500px){
  .padding{
    padding: var(--padding-md) var(--padding-xx);
  }
}

