.experienceContainer{
  view-timeline: --card-view;
}

.cards {
  padding: var(--padding-md) 0;
  --card-height: 50vh;
  --card-gap: .25rem;
  --num: 7;
  /* view-timeline: --card-view; */
}

.primaryTitle {
  font-size: 4.8rem;
  line-height: 1.1;
  letter-spacing: -0.03em;
  text-align: center;
  font-weight: 600;
}

.information {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.company {
  font-weight: 600;
  font-size: 1.8rem;
}

.duration {
  color: #ffffff90;
}

.title {
  color: var(--color-primary);
  font-style: italic;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 3rem;
}

.description {
  font-size: 1.4rem;
  line-height: 1.5;
  max-width: 70ch;
}

.technologiesContainer{
    display: flex;
    gap: .8rem;
    padding: var(--padding-xx) 0 ;
}

.technology{
  /* border: 1px dashed #ffffff80; */
  border: 1px dashed hsl(242, 85%, 69%);
  padding: .4rem .8rem;
  font-size: 1.2rem;
  background: hsl(240, 7%, 13%);
  color: var(--color-primary-light);
  color: #fff;
  background: #18181B;
  background: hsl(240, 6%, 11%);
  font-weight: 600;
}

.cardGrid {
  padding: 0 1rem;
  margin: 0 auto;
  padding-bottom: calc(var(--num) * var(--card-gap));
}

.card {
  width: min(100%, 88rem);
  margin: 0 auto;
  border-radius: 5px;
  position: sticky;
  top:4.8rem;
  padding-top: calc(var(--i) * var(--card-gap));
}

.cardInner {
  background-color: var(--color-bg-dark);
  /* background-color: hsl(216, 12%, 6%); */
  backdrop-filter: blur(5px);
  border: 1px solid var(--color-primary);

  background: linear-gradient(var(--color-bg-dark), var(--color-bg-dark)) padding-box,
              linear-gradient(145deg, transparent 35%,var(--color-primary), var(--color-accent-dark)) border-box;

  border: 1.5px solid transparent;
  padding: var(--padding-lg) var(--padding-xs);
  border-radius: 3px;
  display: flex;
  align-items: center;
  /* animation: both linear serviceCard;
  animation-timeline: --card-view;
  animation-range: exit-crossing calc(((var(--i) - 1) / var(--num)) * 100%) exit-crossing calc(((var(--i)) / var(--num)) * 100%) */
}

@supports (animation-timeline: scroll()){
  .cardInner {
    animation: both linear serviceCard;
    animation-timeline: --card-view;
    animation-range: exit-crossing calc(((var(--i) - 1) / var(--num)) * 100%) exit-crossing calc(((var(--i)) / var(--num)) * 100%)
  }
}

.card:nth-child(1) {
  --i: 1;
  --r: 2deg;
  --b: #ffffff;
}

.card:nth-child(2) {
  --i: 2;
  --r: -2deg;
  --b: #ffffff;
}

.card:nth-child(3) {
  --i: 3;
  --r: 2deg;
  --b: #ffffff;
}

.card:nth-child(4) {
  --i: 4;
  --r: -2deg;
  --b: #ffffff;
}

.card:nth-child(5) {
  --i: 5;
  --r: -2deg;
  --b: #ffffff;
}

.card:nth-child(6) {
  --i: 6;
  --r: -2deg;
  --b: #ffffff;
}

.card:nth-child(7) {
  --i: 7;
  --r: 2deg;
  --b: #ffffff;
}


@keyframes serviceCard {
  /* from{
    transform: scale(1) rotate(0);
  } */
  to {
    /* border-color: var(--b); */
    /* filter: blur(calc( ((var(--num) - var(--i)) * 1px) )); */
    filter: blur(calc(((var(--num) - var(--i)) * 1px) - 2px));
    transform: scale(calc(1 - (0.015 * (var(--num) - var(--i)))))  rotate(var(--r));
  }
}