.experienceContainer{
  view-timeline: --card-view;
}

.cards {
  padding: var(--padding-md) 0;
  --card-height: 50vh;
  --card-gap: .25rem;
  --num: 7;
}

.cardGrid {
  padding: 0 1rem;
  margin: 0 auto;
  padding-bottom: calc(var(--num) * var(--card-gap));
}

.card {
  width: min(100%, 88rem);
  margin: 0 auto;
  border-radius: 5px;
  position: sticky;
  top:4.8rem;
  padding-top: calc(var(--i) * var(--card-gap));
}

.cardInner {
  background-color: var(--color-bg-dark);
  backdrop-filter: blur(5px);
  border: 1px solid var(--color-primary);
  background: linear-gradient(var(--color-bg-dark), var(--color-bg-dark)) padding-box,
              linear-gradient(145deg, transparent 35%,var(--color-primary), var(--color-accent-dark)) border-box;

  border: 1.5px solid transparent;
  padding: var(--padding-lg) var(--padding-xs);
  border-radius: 3px;
  display: flex;
  align-items: center;
  animation: both linear serviceCard;
  animation-timeline: --card-view;
  animation-range: exit-crossing calc(((var(--i) - 1) / var(--num)) * 100%) exit-crossing calc(((var(--i)) / var(--num)) * 100%)
}

@supports (animation-timeline: scroll()){
  .cardInner {
    animation: both linear serviceCard;
    animation-timeline: --card-view;
    animation-range: exit-crossing calc(((var(--i) - 1) / var(--num)) * 100%) exit-crossing calc(((var(--i)) / var(--num)) * 100%)
  }
}

.cardInfo{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.card:nth-child(1) {
  --i: 1;
  --r: 2deg;
  --b: #ffffff;
}

.card:nth-child(2) {
  --i: 2;
  --r: -2deg;
  --b: #ffffff;
}

.card:nth-child(3) {
  --i: 3;
  --r: 2deg;
  --b: #ffffff;
}

.card:nth-child(4) {
  --i: 4;
  --r: -2deg;
  --b: #ffffff;
}

.card:nth-child(5) {
  --i: 5;
  --r: -2deg;
  --b: #ffffff;
}

.card:nth-child(6) {
  --i: 6;
  --r: -2deg;
  --b: #ffffff;
}

.card:nth-child(7) {
  --i: 7;
  --r: 2deg;
  --b: #ffffff;
}

.information {
  display: flex;
  gap: .8rem;
  align-items: flex-start;
  flex-direction: column;
}

.company {
  font-weight: 600;
  font-size: clamp(1.6rem, 1.2615rem + 1.2vw, 2.2rem);
  line-height: 1.1;
}

.duration {
  color: var(--color-primary);
  font-size: .9rem;
  font-weight: 600;
  background: #0D0F2E;
  padding: .5rem 1rem;
  border: .5px dashed var(--color-primary);
  border-radius: 3px;
}

.description {
  font-size: 1.4rem;
  line-height: 1.5;
  max-width: 70ch;
}



@keyframes serviceCard {
  to {
    filter: blur(calc(((var(--num) - var(--i)) * 1px) - 2px));
    transform: scale(calc(1 - (0.015 * (var(--num) - var(--i)))))  rotate(var(--r));
  }
}