.sectionTitle {
  font-size: clamp(4.8rem, 2.8rem + 10vw, 10.8rem);
  text-transform: uppercase;
  line-height: 1.1;
}

.skillsContainer {
  padding: var(--padding-sm) 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  text-align: center;
  justify-content: center;
}

.label {
  font-size: clamp(1.6rem, 1rem + .5vw, 2.4rem);
}

.titleSection {
  display: flex;
  flex-direction: column;
}

.stackContainer {
  width: min(65rem, 100%);
  padding: var(--padding-sm) var(--padding-lg);
  border-radius: 3px;
  border: 1px solid var(--color-primary);
  box-shadow:
  var(--color-primary-light) 3px 3px,
  var(--color-primary-dark)6px 6px,
  var(--color-accent-dark) 9px 9px;
  transition-duration: .7s;
  transition-property: transform,border-top, border-left, border-bottom, border-right,
    box-shadow;
}

.stackTitle {
  font-size: clamp(3.2rem, 1rem + .85vw, 4rem);
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -0.02em;
}

.stackMiniTitle {
  font-size: 1.2rem;
}

.imagesContainer {
  display: flex;
  padding: var(--padding-sm) var(--padding-md);
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; 
  position: relative;
}


.sectionMiniTitle {
  font-size: clamp(2.4rem, 1.7661rem + 3.5vw, 4rem);
  font-weight: 500;
  color: var(--color-white-primary);
  transform: rotate(-5deg);
}

.otherToolsSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 4rem; 
}

.note {
  font-size: 1.4rem;
  transform: rotate(-8deg); 
}